/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view  {
  height: 100%;
  font-family:Tahoma, Geneva, sans-serif;
}
.container{
  font-family:Tahoma, Geneva, sans-serif;
}

.navbar{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;   
}
.card{
  font-family:Tahoma, Geneva, sans-serif;
}
.carousel-inner{
  font-family:Tahoma, Geneva, sans-serif;
}

.footer-copyright{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); 
}

.top-nav-collapse {
  background-color: #929FBA; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #929FBA; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }
