*
{
		margin: 0px;
}
.jumbotron
{
	height: 657px;
	width: 100%;
	background-image: url("img/regbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;	
	background-size: cover;
}
.table
{
	height: 550px;
	width: 400px;
background-color: white;
float: right;
margin-right: 500px;
margin-top: 50px;
 border-radius: 15px;
 border-color: black;
}
.box
{
	  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
}
.spac
{
font-family: monospace;
font-size: 15px;
	padding: 10px;
    word-spacing: 2px;
} 
.oct
{

	color: #d35656;
	font-family: monospace;
	font-size: 30px;
}

.sub
{
	height:35px;
	width: 35%;
	color: white;
	background-color: #d35656;
	border-radius: 10px;
}
